

@media (max-width: 1199px) {


    /* aside  */
    .aside .nav-toggler {
        display: flex;
        left: 30px;
    }

    .aside .nav-toggler.open {
        left: 300px;
    }

    .aside {
        left: -270px;
    }
    
    .aside.open {
        left: 0px;
    }

    .section {
        left: 0;
    }

    .section.open {
        left: 270px;
    }

    .main-content {
        padding-left: 0;
    }

    .about .about-content .personal-info .info-item p span {
        display: block;
        margin-left: 0;
    }







}


